{% extends 'base.html' %}
<title>{% block title %}Список баз данных{% endblock %}</title>

{% block content %}
    <div class="welcome-container">
        <div class="title-with-button" style="display: flex; align-items: center; justify-content: space-between;">
            <h2 class="welcome-title">Список баз данных ({{ databases_info|length }} шт.)</h2>
            <a href="{% url 'database_connect' %}" class="btn btn-save">Создать новое подключение</a>
        </div>
        <hr>

        <input type="text"
               name="q"
               class="group-search"
               value="{{ search_query }}"
               placeholder="Поиск базы данных..."
               hx-get="{% url 'database_list' %}"
               hx-trigger="keyup changed delay:300ms"
               hx-target="#databaseListWrapper"
               hx-select="#databaseListWrapper"
               hx-include="[name='q']">

        {% include 'databases/_database_list_content.html' %}
    </div>
{% endblock %}
