{% extends 'base.html' %}
<title>{% block title %}Список групп{% endblock %}</title>

{% block content %}
    <div class="welcome-container">
        <div class="title-with-button" style="display: flex; align-items: center; justify-content: space-between;">
            <h2 class="welcome-title">Список групп ({{ user_groups_data|length }} шт.)</h2>
            <a href="{% url 'group_create' db_id=db_id %}" class="btn btn-save">Создать группу</a>
        </div>
        <hr>

        <input type="text"
               name="q"
               class="group-search"
               value="{{ search_query }}"
               placeholder="Поиск группы..."
               hx-get="{% url 'group_list' db_id=db_id %}"
               hx-trigger="keyup changed delay:300ms"
               hx-target="#groupListWrapper"
               hx-select="#groupListWrapper"
               hx-include="[name='q']">

        {% include 'groups/_group_list_content.html' %}

        <div class="all-btn">
            <a href="{% url 'database_list' %}" class="btn btn-cancel">Назад</a>
        </div>
    </div>
{% endblock %}
