{% extends 'base.html' %}
<title>{% block title %}Список пользователей{% endblock %}</title>

{% block content %}
    <div class="welcome-container">
        <div class="title-with-button" style="display: flex; align-items: center; justify-content: space-between;">
            <h2 class="welcome-title">Список пользователей ({{ users_data|length }} шт.)</h2>
            <a href="{% url 'user_create' db_id=db_id %}" class="btn btn-save">Создать пользователя</a>
        </div>
        <hr>

        <input type="text"
               name="q"
               class="user-search"
               value="{{ search_query }}"
               placeholder="Поиск пользователя..."
               hx-get="{% url 'user_list' db_id=db_id %}"
               hx-trigger="keyup changed delay:300ms"
               hx-target="#userListWrapper"
               hx-select="#userListWrapper"
               hx-include="[name='q']">

        {% include 'users/_user_list_content.html' %}

        <div class="all-btn">
            <a href="{% url 'database_list' %}" class="btn btn-cancel">Назад</a>
        </div>
    </div>
{% endblock %}
